target/
testnet_data/
genesis_output/
test_data_*/

.cargo/.global-cache
.cargo/.package-cache*
.cargo/.package-cache-mutate

*.db
*.db-wal
*.db-shm

*.log
*.err
pids.txt

*.secret
validator_key

.env
.DS_Store
